{% extends "base.html.twig" %}

{% block title %}
    BlogSymfony | Profil
{% endblock %}

{% block body %}

    <h1 class="text-center my-5">Vos informations personnelle</h1>

    {% if user.roles.0 == 'ROLE_ADMIN' %}
        <p class="text-center text-secondary">Vous êtes ADMINISTRATEUR du site</p>
    {% endif %}

    {# {{ dump(user.articleId) }} #}

    <div class="col-6 mx-auto accordion mb-5" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Email
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                    <span>{{ user.email }}</span>
                    <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Prénom
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                <span>{{ user.prenom }}</span>
                <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Nom
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                    <span>{{ user.nom }}</span>
                    <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Adresse
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                    <span>{{ user.adresse }}</span>
                    <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Ville
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                    <span>{{ user.ville }}</span>
                    <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Code Postal
            </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex justify-content-between">
                    <span>{{ user.codePostal }}</span>
                    <span><a href="{{ path('app_profil_edit', {'id': user.id}) }}" class="link-secondary">Modifier</a></span>
                </div>
            </div>
        </div>
    </div>
    {% if user.articleId is not empty %}
        
    
    <div class="mx-auto">
        <h2 class="text-center my-5">Liste des articles que vous avez publié :</h2>
        <table class="table table-borderless text-center align-middle" id="table-profil">
                <tr class="text-center">
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Catégorie</th>
                    <th>Date - Heure</th>
                    <th>Voir</th>
                    <th>Modifier</th>
                </tr>
            {% for info in user.articleId %}
                <tr>
                    <td>{{info.titre}}</td>
                    <td>{{info.contenu|slice(0,100) }} [...]</td>
                    <td><a href="{{ path('blog_categorie', {'id': info.category.id}) }}" class="text-decoration-none">{{info.category.titre}}</a></td>
                    <td>Publié le {{info.date|date("m/d/Y")}} à {{info.date|date ("H:i:s")}}</td>
                    <td><a href="{{ path('blog_show', {'id': info.id}) }}" class="info display-4"><i class="bi bi-eye-fill"></i></a></td>
                    <td><a href="{{ path('blog_edit', {'id':info.id}) }}" class="primary display-4"><i class="bi bi-pencil-square"></i></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

   {% endif %} 

{% endblock %}